.mat-card {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
}

.mat-form-field, .mat-button-base {
    width: 100%;
}

.mat-cell {
    padding: 6px
}

.mat-column-title {
    font-weight: bold
}